* {
   box-sizing: border-box;
 }


body {
   font-family: 'Work Sans', sans-serif;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   background-color: rgb(193, 189, 214);
}


.container {
max-width: 1280px;
margin: 0 auto;
background-color: #8b95b4;
}


.nav-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
   list-style-type: none;
   background-color: #003366;
   padding: 5px;
   margin: 0px;
   border: 1px solid #000000;
}


@media (max-width: 768px) {
   .nav-list {
     width: 100%;
   }
}


.nav-item {
   width: 120px;
   height: auto;
   border: 1px solid #000000;
   border-radius: 30px;
   padding: 10px;
   margin: 5px;
   background-color: #333399;
}


.text-header {
   border: 1px solid #000000;
   border-top: 0px;
}


.text-header__photo {
   display: flex;
   width: 100%;
   height: 300px;
   background-color: #436093;
   padding: 5px;
}


.text-header__h1 {
   flex-grow: 0.85;
   background-color: #436093;
   text-align: center;
   font-size: 32px;
   text-transform: uppercase;
}


main {
   display: flex;
   flex-wrap: wrap;
}


.section {
   width: 50%;
   border: 1px;
   padding-left: 15px;
}


@media (max-width: 768px) {
   .section {
     width: 100%;
   }
 }


 .nav-link {
   text-decoration: none;
   color: #ffffff;
   transition: color 0.5s;
 }
 

 .nav-link:hover {
   text-decoration: underline;
   color: #0c0227;
 }


.section-footer__contacts {
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-color: #003366;
    border: 1px solid #000000;
    color:#ffffff;
 }


.section-footer__school  {
   display: flex;
   justify-content: space-around;
   width: 50px;
   height: 50px;
   padding-top: 15px;
 }


 .section-footer__git {
    text-decoration: none;
    color: #ffffff
 }


 .section-footer__git:hover {
   text-decoration: none;
   color: #000000;
   text-decoration: underline;
 }